* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(#03a9f4, #03a9f4 45%, #fff 45%, #fff 100%);
}
.container {
  width: 350px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
#card {
  position: relative;
  width: 100%;
  padding: 30px 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}
#card img {
  display: block;
  width: 180px;
  max-height: 200px;
  position: relative;
  margin: 20px auto;
  border-radius: 50%;
}
.id {
  width: 80px;
  background-color: #ffffff;
  text-align: center;
  padding: 8px 0;
  border-radius: 30px;
  margin-left: auto;
  font-weight: 400;
}
.nama {
  text-align: center;
  font-weight: 600;
}
.status {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px 0;
  padding: 8px 0;
  border-radius: 50px;
  background-color: #03a9f4;
  width: 120px;
  text-align: center;
  margin: 20px auto;
}

.status1 {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px 0;
  padding: 8px 0;
  border-radius: 50px;
  background-color: #03a9f4;
  width: 80px;
  text-align: center;
  margin: 20px auto;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.info p {
  color: #404060;
}

@font-face {
  font-family: 'Poppins1';
  src: url('Poppins-Regular.ttf');
}
.fontge{
  font-family: 'Poppins1';
}

@font-face {
  font-family: 'Poppins2';
  src: url('Poppins-Light.ttf');
}

.fontge1{
  font-family: 'Poppins2';
}